body {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input, button {
  padding: 5px;
  border-radius: 10px;;
}

.operation {
  display: flex;
  justify-content: space-around;
}

img {
  width: 256px;
  height: 256px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.ex-imgs {
  display: flex;
  flex-direction: row;
}
figure {
  text-align: center;
}